$primary--500:   rgb(0, 0, 255);

$c-link:         currentColor;
$c-visited:      $c-link;

$c-hover:        hsb(225, 100, 100);
$c-active:       $c-hover;

$c-select__bg:   black;
$c-select__text: white;
