extends _templates/_site

append template-variables
  - var modifier = "Inverse"

block template-body
  +hud("About")

  .m-constraint
    +masthead
    .m-constraint__holder
      img.m-constraint__portrait(data-appear="image" data-src="src/images/temp/about-portrait-2.jpg" alt="Portrait")
    .m-constraint__pad
  
  .m-top
    a.m-top__scroll(href="#about")
      
    nav.m-top__nav
      each page in pages
        unless page.name == "About"
          a.m-top__link(href=page.href target=page.external ? "_blank" : null)= page.name

  #about.m-about
    .m-about__content
      p.m-about__text(data-appear="normal") Visual artist &amp; illustrator, based in Gothenburg #[span.m-about__super (SE)], b.&nbsp;#[span.m-about__born 1989]

      h1.m-about__title(data-appear="normal") ( Exhibitions )
      ul.m-about__list
        li
          strong.m-about__year(data-appear="normal") 2018
          ul.m-about__bulletlist
            li(data-appear="normal") OSLO Art Oslo
            li(data-appear="normal") STOCKHOLM Affordable Art Fair
        li
          strong.m-about__year(data-appear="normal") 2017
          ul.m-about__bulletlist
            li(data-appear="normal") COPENHAGEN Oxholm Gallery
            li(data-appear="normal") BEIJING Royal Scandinavia
            li(data-appear="normal") SAN FRANCISCO 111 Minna Gallery
        li
          strong.m-about__year(data-appear="normal") 2016
          ul.m-about__bulletlist
            li(data-appear="normal") MILAN Affogato Fair

      h1.m-about__title(data-appear="normal") ( Clients )
      ul.m-about__bulletlist
        li(data-appear="normal") Ikea
        li(data-appear="normal") Marimekko
        li(data-appear="normal") Artilleriet
        li(data-appear="normal") Monki
        li(data-appear="normal") Slowdown Studio

      h1.m-about__title(data-appear="normal") ( Press )
      ul.m-about__bulletlist
        li(data-appear="normal"): a(href="javascript:") INTERVIEW Ballpit Magazine
        li(data-appear="normal"): a(href="javascript:") INTERVIEW Ikea
        li(data-appear="normal"): a(href="javascript:") INTERVIEW Artistmag
      
      .m-about__contact.o-contact
        each page in pages
          unless page.name == "About" || page.name == "Index"
            unless page.name == "Shop"
              span.o-contact__bullet(data-appear="normal")
            a.o-contact__link(href=page.href target=page.external ? "_blank" : null data-appear="normal")= page.name
  
  .m-back
    a.m-back__link(href="index.html" data-appear="stagger")
      each word in [1, 2, 3]
        span.m-back__word(data-appear-group)
          span.m-back__text(data-appear-child)
            include ../svg/word-index.svg
          span.m-back__arrow(data-appear-child)
            include ../svg/arrow-left.svg

    .m-back__footer
      small.o-author(data-appear="normal") Website by #[a(href="https://christianjansky.name" target="_blank") Christian Jánský]
