extends _templates/_site

block template-body
  +hud("Index")

  +masthead
  
  .m-top
    a.m-top__scroll(href="#work")
      
    nav.m-top__nav
      each page in pages
        unless page.name == "Index"
          a.m-top__link(href=page.href target=page.external ? "_blank" : null)= page.name
  
  #work.m-projects(data-slider)
    each project, index in projects
      - var artwork = index + 1
      figure.m-projects__item
        .m-projects__blankbutton &nbsp;
        .m-projects__frame
          img.m-projects__image(data-flickity-lazyload="src/images/temp/artwork-" + artwork + ".jpg")
        figcaption.m-projects__caption
          unless project.untitled
            span.m-projects__info
              h1.m-projects__title: +dummy(Math.ceil(Math.random() * 4), "words")
              mark.m-projects__year 2018
            if project.type
              strong.m-projects__media
                = project.type
                | , 
                = Math.ceil((Math.random() * 100) / 10) * 10
                | &times;
                = Math.ceil((Math.random() * 50) / 10) * 10
                |  cm
            if project.button
              span.m-projects__action
                a.m-projects__button(href="javascript:" target="_blank") Buy
    
    .m-projects__item
      .m-projects__contact.o-contact
        each page in pages
          unless page.name == "About" || page.name == "Index"
            unless page.name == "Shop"
              span.o-contact__bullet
            a.o-contact__link(href=page.href target=page.external ? "_blank" : null)= page.name

  .m-next
    .m-next__blankbutton &nbsp;
    a.m-next__link(href="about.html")
      each word in [1, 2, 3]
        span.m-next__word
          span.m-next__text
            include ../svg/word-about.svg
          span.m-next__arrow
            include ../svg/arrow-right.svg
