.o-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    padding: .25em .75em;
    border-radius: 1.25em;
    border: .05em solid currentColor;
  }

  &__bullet {
    @include media("≥phablet") {
      @include bullet;
    }
  }
}
