.o-logo {
  @include media("portrait") {
    height: $masthead-height--portrait;
  }
  @include media("landscape") {
    height: $masthead-height--landscape;
  }

  white-space: nowrap;
  overflow: hidden;

  &__group {
    @include word-group;

    padding: 0 3vmax;

    @for $i from 0 through 1 {
      @for $y from 0 through 3 {
        &:nth-child(#{$i+1}) > :nth-child(#{$y+1}) {
          transition-delay: #{.5s + $i * .5s + $y * .125s};
          animation-delay:  #{.25s + $i * .5s + $y * .125s};
        }
      }
    }
  }

  @at-root [class^="o-logo__part"],
  [class*="o-logo__part"] {
    transition: opacity $duration--xl;
  }

  &__part--linnea { padding-right: 4vmax; }
  &__part--and { padding-right: 2vmax; }
}

/* Masthead Variant */
.m-masthead [class^="o-logo__part"],
.m-masthead [class*="o-logo__part"] {
  animation: fade $duration--xl backwards;

  body.Slider--end & {
    opacity: 0;
    transition-delay: 0s;
  }
}

/* Hud Variant */
.m-hud [class^="o-logo__part"],
.m-hud [class*="o-logo__part"] {
  opacity: 0;

  body:not(.Hud--is-active) & {
    transition-delay: 0s;
  }
  .Hud--is-active & { opacity: 1; }
}
