mixin masthead
  .m-masthead(data-waypoint="Masthead")
    .m-masthead__blankbutton &nbsp;

    .m-masthead__content
      each word in [1, 2]
        span.m-masthead__word
          include ../../svg/logo.svg
