.m-constraint {
  &__holder {
    position: relative;
    z-index: -1;

    margin: 0 $outer--b;

    @include below-fold;

    @include media("portrait") {
      padding-bottom: 62.5%;
      border-bottom: #{$masthead-height--portrait/3} solid transparent;
    }
    @include media("landscape") {
      height: 100vh;
      border-bottom: #{$masthead-height--landscape/3} solid transparent;
    }
  }

  &__portrait {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}
