.m-constraint {
  &__holder {
    position: relative;
    z-index: -1;

    margin: 0 $outer--b;

    @include below-fold;
    padding-bottom: 56.25%;
    background-color: black;
  }

  &__portrait {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__pad {
    @include media("portrait") {
      height: #{$masthead-height--portrait/3};
    }
    @include media("landscape") {
      height: #{$masthead-height--landscape/3};
    }
  }
}
