.m-masthead {
  @include masthead;
  position: sticky;
  top: 3rem;
  z-index: 0;

  margin-top: 30vh;

  transition: color .25s $e__medium--out 0s, z-index 0s $e__medium--out .25s;

  .Hud--is-active & {
    color: white;
    z-index: 10000;
    transition-delay: .125s;
  }
  .Inverse.Hud--is-active & {
    color: $primary--500;
  }
}
