.m-masthead {
  @include media("≥desktop") {
    font-size: $fluid--s;
  }

  position: sticky;
  top: .5rem;
  z-index: 0;

  user-select: none;
  pointer-events: none;

  transition: color .25s 0s, z-index 0s .25s, opacity $duration--l $duration--l;

  .Hud--is-active & {
    color: white;
    z-index: 10000;
    transition-delay: .125s;
  }
  .Inverse.Hud--is-active & {
    color: $primary--500;
  }
  .Slider--end & {
    opacity: 0;
    transition-delay: 0s;
  }

  @include media("landscape") {
    margin-top: 27.5vh;
  }
  @include media("portrait") {
    margin-top: 37.5vh;
  }

  &__blankbutton {
    @include hud-button;
    visibility: hidden;
  }

  &__content {
    @include media("portrait") {
      height: $masthead-height--portrait;
    }
    @include media("landscape") {
      height: $masthead-height--landscape;
    }

    white-space: nowrap;
    overflow: hidden;
  }

  &__group {
    @include word-group;

    padding: 0 3vmax;
  }

  @at-root [class^="m-masthead__part"],
  [class*="m-masthead__part"] {
    animation: fade $duration--xl both;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: .25s + $i * .125s;
      }
    }
  }

  &__part--linnea {
    padding-right: 4vmax;
  }
  &__part--and {
    padding-right: 2vmax;
  }
}
