.m-masthead {
  @include media("≥desktop") {
    font-size: $fluid--s;
  }

  position: sticky;
  top: .5rem;
  z-index: 0;

  user-select: none;

  transition: color $duration--b;

  .Hud--is-active & {
    color: white;
    transition-delay: .125s;
  }
  .Inverse.Hud--is-active & {
    color: $primary--500;
  }
  .Slider--end & {
    z-index: 2000; /* Cover .m-projects */
  }

  &__content {
    position: relative;
    white-space: nowrap;
  }

  &__blankbutton {
    @include hud-button;
    visibility: hidden;
  }

  &__logo {
    pointer-events: none;
    transition: opacity $duration--l $duration--l;

    .Slider--end & {
      opacity: 0;
      transition-delay: 0s;
    }
  }
}
