.m-next {
  @include media("≥desktop") {
    font-size: $fluid--s;
  }

  display: block;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
  
  padding-bottom: 5vh; /* Make underline visible */

  @include media("portrait") {
    height: $masthead-height--portrait;
  }
  @include media("landscape") {
    height: $masthead-height--landscape;
  }

  .Slider--end & {
    pointer-events: auto;
  }

  &__word {
    @include word-group("reverse");

    & > * {
      transition: opacity $duration--xl;
      opacity: 0;

      .Slider--end & { opacity: 1; }
    }

    @for $i from 0 through 2 {
      @for $y from 0 through 1 {
        .Slider--end &:nth-child(#{$i+1}) > :nth-child(#{$y+1}) {
          transition-delay: #{.5s + $i * .25s + $y * .125s};
        }
      }
    }
  }

  &__text {
    @include text;
  }

  &:hover &__text:after,
  &:active &__text:after {
    background-color: currentColor;
  }
}
