.m-top {
  @include media("≥desktop") {
    font-size: $fluid--s;
  }

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 100vh;

  &__scroll {
    flex-grow: 1;

    &:hover {
      cursor: url("../images/cursor-scroll.png") 15 18, pointer;
    }
  }
  .Inverse &__scroll:hover {
    cursor: url("../images/cursor-inverse-scroll.png") 15 18, pointer;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: $outer--b;

    line-height: 1;

    transition: opacity $duration--l;

    .Masthead--active & {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__link {
    animation: fade $duration--xl backwards;

    @for $i from 1 through 3 {
      &:nth-child(#{$i + 1}) {
        animation-delay: $i * .25s;
      }
    }
  }
}
