html {
  @include media("≥desktop", "<widescreen") {
    font-size: 1.25em;
  }
  @include media("≥widescreen") {
    font-size: 1.5em;
  }
}

.Inverse {
  color: white;
  background-color: $primary--500;
}

body.Inverse,
.Hud--is-active .m-hud {
  cursor: url("../images/cursor-inverse-default.png") 10 10, pointer;
}

body,
.Inverse.Hud--is-active .m-hud {
  cursor: url("../images/cursor-default.png") 10 10, pointer;
}

a:hover,
button:hover,
.Inverse.Hud--is-active .m-hud a:hover,
.Inverse.Hud--is-active .m-hud button:hover {
  cursor: url("../images/cursor-hover.png") 10 10, pointer;
}
